/*All custom Font are there*/


.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*Shared Styles*/

body{
    background-color: aliceblue;
    margin: 0px;
}
:root{
    --primary-color:#E95A08;
}

.all_section{
    max-width: 71.25rem;
    margin: 0 auto;
}



/*Hero Section*/
.flower_section{
    margin-bottom: 120px;
}

.fresh_flower{
    display: flex;
    align-items: center;
}

.fresh_flower_desc{
    max-width: 35.6rem;
}

.fresh_flower_desc h3{
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 0px;
}
.clr{
    color:var(--primary-color) ;
}

.fresh_flower_desc p{
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
}


/*card section*/

.plant_section{
    text-align: center;
    margin-bottom: 210px;
}
.plant_section h3{
    font-weight: bold;
    font-size: 3.12rem;
    margin-bottom: 10px;
}
.plant_section p{
    font-size: 1.37rem;
    line-height: 30px;
    max-width: 53rem;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 49px;
}

.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px 30px;
}
.card_item{
    max-width: 16.87rem;
}
.card_item p{
    margin-top: 30px;
    color:black;
    font-weight: 500;
    font-size: 1.37rem;
    margin-bottom: 0px;
}
.card_item h3{
    margin-top: 20px;
    font-size: 1.37rem;
    margin-bottom: 30px;
}
.cart_btn{
    width: 100%;
    padding: 17px 80px;
    background-color: var(--primary-color);
    color: #FFFF;
    border: none;
    cursor: pointer;
}
.cart_btn:hover{
    background-color: burlywood;
    color: #000;
}

























/*Responsive Part*/

@media screen and (max-width:700px) {
    .fresh_flower{
        flex-direction: column-reverse;
    }
    .fresh_flower_desc{
        width: calc(100% - 30px );
        margin: 0 auto;
    }
    .fresh_flower_desc h3{
        font-size:1.5rem ;
        max-width: 11.93rem;
    }
    .fresh_flower_desc p{
        font-size: 0.87rem;
    }
    .fresh_flower_img img{
        max-width: 100%;

    }
    .plant_section{
        width: calc(100% - 30px );
        margin: 0 auto;
        margin-bottom: 2.56rem;
    }
    .plant_section h3{
        font-size: 1.5rem;
    }
    .plant_section p{
        font-size: 0.87rem;
        line-height: 20px;
    }

    .card{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }

    .card_item img{
        width: 100%;
    }

    .cart_btn{
        font-size: 0.8rem;
        font-weight: 600;
    }


}