/*All custom Font are there*/


.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*Shared Styles*/

body{
    background-color: aliceblue;
    margin: 0px;
}
:root{
    --primary-color:#E95A08;
}

.all_section{
    max-width: 71.25rem;
    margin: 0 auto;
}



/*Hero Section*/
.flower_section{
    margin-bottom: 120px;
}

.fresh_flower{
    display: flex;
    align-items: center;
}

.fresh_flower_desc{
    max-width: 35.6rem;
}

.fresh_flower_desc h3{
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 0px;
}
.clr{
    color:var(--primary-color) ;
}

.fresh_flower_desc p{
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
}


/*card section*/

.plant_section{
    text-align: center;
}
.plant_section h3{
    font-weight: bold;
    font-size: 3.12rem;
    margin-bottom: 10px;
}
.plant_section p{
    font-size: 1.37rem;
    line-height: 30px;
    max-width: 53rem;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 49px;
}

.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px 30px;
}
.card_item{
    max-width: 16.87rem;
}
.card_item p{
    margin-top: 30px;
    color:black;
    font-weight: 500;
    font-size: 1.37rem;
    margin-bottom: 0px;
}
.card_item h3{
    margin-top: 20px;
    font-size: 1.37rem;
    margin-bottom: 30px;
}
.cart_btn{
    width: 100%;
    padding: 1.06rem 5rem;
    background-color: var(--primary-color);
    color: #FFFF;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}
.cart_btn:hover{
    background-color: burlywood;
    color: #000;
}

/*Plant_section*/

.flower_plants{
    margin-bottom: 133px;
}

.flower_plants_section{
    display: flex;
    column-gap: 60px;
}



.flower_plants_title h3{
    font-weight: bold;
    font-size: 3.12rem;
    max-width: 30rem;
}

.flower_plants_title ul li{
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}
.trusted_brdge img{
    height: 286px;
    width: 286px;
    position:relative;
    left: 350px;
    top: 140px;
}
.deals{
    margin-bottom: 120px;
}
.deals h3,p{
    text-align: center;
}

.deals h3{
    font-weight: bold;
    font-size: 3.12rem;
}
.lts{
    color: var(--primary-color);
}
.deals p{
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
    max-width: 888px;
    margin: 0 auto;
    margin-top: -30px;
    line-height: 30px;
}


/*.special_deals{
    margin-bottom: 120px;
}


.search{
    background: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.search{
    height: 33.31rem;
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}

.seach_dv{
    width: 830px;
    margin: 0 auto;
}

.seach_dv h3{
    font-size: 3.12rem;
    color: #FFFF;
    text-align: center;
}

input{
    padding-left: 20px;
    padding-right: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.s_btn{
    padding: 20px 53px;
}*/

.special{
   display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}
.special_card_item1{
    background-image: url("../assets/deal-ana.png");
    width: 22.87rem;
    height: 12.87rem;
    background-repeat:no-repeat;
    background-position: center;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.special_card_item2{
    background-image: url("../assets/deal-zabo.png");
    background-repeat:no-repeat;
    background-position: center;
    grid-row: span 2;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.special_card_item3{
    background-image: url("../assets/deal-bloom.png");
    width: 22.87rem;
    height: 12.87rem;
    background-repeat:no-repeat;
    background-position: center;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.special_card_item1 h3{
    color: #FFFF;
    font-weight: bold;
    font-size: 1.25rem;
}
.special_card_item1 li{
    list-style: none;
    text-align: center;
}
.special_card_item1 li a{
    color: #FFFF;
}

.special_card_item2 h3{
    color: #FFFF;
    font-weight: bold;
    font-size: 1.25rem;

}
.special_card_item2 li{
    list-style: none;
    text-align: center;
}
.special_card_item2 li a{
    color: #FFFF;
}


.special_card_item3 h3{
    color: #FFFF;
    font-weight: bold;
    font-size: 1.25rem;

}
.special_card_item3 li{
    list-style: none;
    text-align: center;
}
.special_card_item3 li a{
    color: #FFFF;
}

.special_deals{
    margin-bottom: 120px;
}


.footer_section{
    width: 70rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content:space-between;
    margin-bottom: 20px;
}
.footer_item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    row-gap: 32px;
}

.subscribe-section {
  background: url('../assets/news-letter-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height:33.31rem;
}


.search{
    margin-bottom: 200px;
}

.search_section h2{
    font-size: 3.12rem;
    color: #FFFF;
    margin-bottom: 20px;
    text-align: center;
}
.subscribe_form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe_form input[type="email"]{
    width: 34rem;
    padding: 20px 30px;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.search_btn{
    background-color: var(--primary-color);
    padding: 23px 53.5px;
    border: none;
    cursor: pointer;
}

.footer_section{
    margin-top: -120px;
}


.footer_img{
    max-width: 22.43rem;
}

.footer_img h3{
    font-weight: normal;
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
}

.footer_item{
    margin-top: -20px;
}

.f_item{
    list-style: none;
    color: #6B7280;
}

.f_images{
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer_logo{
    margin-left: 90px;
}

.f_images li{
    list-style: none;
}


















/*Responsive Part*/

@media screen and (max-width:700px) {
    .fresh_flower{
        flex-direction: column-reverse;
    }
    .fresh_flower_desc{
        width: calc(100% - 30px );
        margin: 0 auto;
    }
    .fresh_flower_desc h3{
        font-size:1.5rem ;
        max-width: 11.93rem;
    }
    .fresh_flower_desc p{
        font-size: 0.87rem;
    }
    .fresh_flower_img img{
        max-width: 100%;

    }
    .plant_section{
        width: calc(100% - 30px );
        margin: 0 auto;
        margin-bottom: 2.56rem;
    }
    .plant_section h3{
        font-size: 1.5rem;
    }
    .plant_section p{
        font-size: 0.87rem;
        line-height: 20px;
    }

    .card{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }

    .card_item img{
        width: 100%;
    }

    .cart_btn{
        padding:18px 30px;
    }

    .trusted_brdge{
        display: none;
    }
    .flower_plants_section{
        width: calc(100% - 30px );
        flex-direction: column;
        margin: 0 auto;
    }
    .flower_plants img{
        width: 100%;
    }

    .flower_plants_title h3{
        font-size: 1.5rem;
    }
    .flower_plants_title ul li {
        font-size: 0.87rem;
    }
    .deals{
        width: calc(100% - 30px );
        margin-top:-50px;
        margin: 0 auto;
    }
    .deals h3{
        font-size: 1.5rem;
        margin-bottom: 50px;
    }
    .deals p{
        font-size: 0.87rem;
    }

    .subscribe-section{
        width: calc(100% - 30px);
        margin: 0 auto;
    }
    .search_section h2{
        font-size: 1.25rem;
    }
    .subscribe_form input[type="email"]{
        width: calc(100% - 3px);
        padding: 10px 10px;
    }
    .search_btn{
        padding: 13px 10px;
        cursor: pointer;
    }

    .special{
        grid-template-columns: repeat(1,1fr);
        width: calc(100% - 30px);
        margin: 0 auto;
    }
    .special_card_item2{
        grid-row: none;
        width: calc(100% - 10px);
        margin: 0 auto;
        height: 12.87rem;
        margin-left: -5px;
    }
    .footer_section{
        grid-template-columns: repeat(1,1fr);
        width:calc(100% - 30px);
        margin: 0 auto;
        margin-top: -100px;
        margin-bottom: 40px;
    }

    .footer_item{
        grid-template-columns: repeat(1,1fr);
    }
    .footer_logo{
        margin-top:30px;
        margin-left: 0px;
    }
}